<div class="signin-form-container container-fluid">
  
  <form ng-submit="signin()">
    <fieldset>
      
      <div class="row">
        <input 
          type="text" 
          name="email" 
          class="email form-control col-lg-12" 
          placeholder="Email" 
          ng-model="credentials.email"
          required
        >
      </div>

      <div class="row">
        <input 
          type="password" 
          name="password" 
          class="password form-control col-lg-12" 
          placeholder="Password" 
          ng-model="credentials.password"
          required
        >
      </div>

      <div class="row">
        <input 
          type="password" 
          name="confirm-password" 
          class="password form-control col-lg-12" 
          placeholder="Confirm Password" 
          ng-model="credentials.confirmPassword"
          required
        >
      </div>

      <div class="row">
        <input 
          class="btn btn-default col-lg-12" 
          type="submit" 
          value="Sign In"
          >
      </div>

    </fieldset>
  </form>
  <p>Allready got an accout? <a ui-sref="login">Login in</a> here.</p>

</div>
