<section class="about">

    <div class="row-fluid">
        <h1>Why ng-devstack?</h1>
        <p>This project has been inspired by another great concept <a href="http://joshdmiller.github.io/ng-boilerplate/">ngBoilerplate</a>, allowing to create modern web applications in AngularJS. It follows all the best practices introduced in ngBoilerplate such as component/feature-oriented directory structure, intelligent build system, etc. However, I decided to improve it a little bit and create my own boilerplate since I missed some basic features like applying changes in real-time on adding new files to project, images optimization, remove redundant code on compiling output HTML, plus ngBoilerplate hasn't been updated for months. Now this all has been made possible. Please welcome ng-devstack!</p>
    </div>

    <div class="row-fluid">
        <h1>Features</h1>
        <ul>
            <li>integration with <a href="http://gulpjs.com/">gulp</a>, and more.</li>
        </ul>
    </div>

</section>
