<div class="login-form-container container-fluid">
  
  <form ng-submit="login()">
    <fieldset>
      
      <div class="row">
        <input 
          type="text" 
          name="email" 
          class="email form-control col-lg-12" 
          placeholder="Email" 
          ng-model="credentials.email"
          required
        >
      </div>

      <div class="row">
        <input 
          type="password" 
          name="password" 
          class="password form-control col-lg-12" 
          placeholder="Password" 
          ng-model="credentials.password"
          required
        >
      </div>

      <div class="row">
        <input 
          class="btn btn-default col-lg-12" 
          type="submit" 
          value="Log In"
          >
      </div>

    </fieldset>
  </form>
  <p>Don't have an account yet? <a ui-sref="signin">Sign in</a> right now!</p>

</div>
