<section class="main">
  
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>

      <div class="collapse navbar-collapse" collapse="isCollapsed">
          <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="main.home">Home</a></li>
              <li ui-sref-active="active"><a ui-sref="main.about">About</a></li>
              <li class="pull-right"><a ng-click="logout()">Log Out</a></li>
          </ul>
      </div>

    </div>
  </nav>

  <div ui-view="main"></div>

</section>