<!doctype html>
<html ng-app="ngDevstack" ng-controller="AppCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind="pageTitle"></title>

    <!-- build:css --><!-- inject:css -->
    <!-- endinject --><!-- endbuild -->

</head>
<body ng-cloak>

    <div class="container">

        <header class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>My Super App!</h1>
            </div>
        </header>
        
        <div class="row" class="flash" ng-show="flash">
          <div class="col-md-10 col-md-offset-1 alert alert-{{flashType}}" role="alert">
            <span>{{flash}}</span>
          </div>  
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div ui-view="main"></div>
            </div>
        </div>

        <footer class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>Created by marek.pch on top of mariuszm's ng-Devstack</p>
            </div>
        </footer>

    </div>

    <!-- build:js --><!-- inject:js -->
    <!-- endinject --><!-- endbuild -->

</body>
</html>
