<section class="home">
    <div class="jumbotron">
        <h1>Hello, {{loggedInUser.email}}!</h1>
        <p>Everything a front-end developer needs to simplify building AngularJS applications.</p>
        <br>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="sendAjax()">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </a>
        </p>
    </div>

    <div
        ng-show="showUserData" 
        mp-loading="{{isLoading}}"
        mp-loading-message="Gathering Data..."
    >
        <p>Użytkownik: {{user.name}}</p>
    </div>
</section>
